.container__event {
  margin: 0 auto;
  max-width: 946px;
  /* height: 1760px; */
  /* overflow: hidden; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 5rem;
}

.card {
  display: inline-block;

  .card__figure {
    position: relative;
    transition: all 0.2s;

    &:hover {
      /* outline: 0.3rem solid rgba(220, 86, 197, 0.3); */
      transform: scale(1.05);
    }

    .prueba {
      border: 1px solid rgba(220, 86, 197, 0.3);
      border-radius: 50px 0px;
      width: 153px;
      height: 143px;
      position: absolute;
      left: 40px;
      top: -11px;
      z-index: 1;
      transition: all 0.2s;
      /* outline-offset: 2rem; */

      &:hover {
        outline: 0.3rem solid rgba(220, 86, 197, 0.3);
        transform: scale(1.05);
        width: 192px;
        height: 315px;
        left: -5px;
        top: -6px;
      }
    }
  }

  .card__picture {
    width: 18rem;
    height: 22.7rem;
    border-radius: 50px 0px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $color-primary;
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 0.5rem;
    line-height: 1.9rem;
    text-align: center;
  }

  &__time {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #ffffff;
    margin-top: 0.5rem;
  }

  .card__posicion {
    display: flex;
    align-items: baseline;
    margin-top: 0.5rem;

    .card__icon {
      display: inline-block;
      width: 0.7rem;
      height: 1rem;
      color: #ffffff;
    }

    .card__lugar {
      font-weight: 600;
      font-size: 1.4rem;
      color: #ffffff;
      padding-left: 3px;
    }
  }
}
